html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    height: auto !important;
    font-family: 'DecoTech', sans-serif;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
}

#myVideo {
    position: fixed;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    auto;
    opacity: 0.8;
    z-index: -999;
}

#menu-bar {
    position: absolute;
    font-size: 40px;
    z-index: 3;
}

.nav-brand {
    position: absolute;
}

.brand-auto {
    margin-left: 700px;
}

.brand-left {
    margin-left: 130px;
}

#navbar-D {
    width: 60px;
}

#navbar-R {
    position: absolute;
    width: 60px;
    margin-left: -30px;
}

.contact {
    position: absolute;
    right: 30px;
    margin-top: 5px;
    z-index: 3;
    display: flex;
    align-items: center;
}

#c-number {
    padding: 40px;
    font-size: 21px;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

i {
    padding: 30px;
}

#facebook {
    color: blue;
}

#instagram {
    color: #833AB4;
}

#whatsapp {
    color: lightgreen;
}

#navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    z-index: 3;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.6s;
}

.navbar-animate {
    animation: animate 1s;
}

@keyframes animate {
    from {
        height: 0px;
    }

    to {
        height: 80px;
    }
}

#nav-title {
    color: black;
    margin: auto;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
    display: none;
}

.head {
    margin: auto;
    z-index: 3;
    text-align: center;
    padding: 50px;
    font-weight: 800;
}

#head-title {
    font-size: 90px;
    letter-spacing: 0.15em;
}

#head-t {
    margin-top: 50px;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}

#head-p {
    margin: auto;
    font-size: 25px;
    text-align: center;
    width: 500px;
}

#order-now {
    margin: auto;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    width: 500px;
}

#order-btn {
    border: 1px solid transparent;
    border-radius: 0;
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.18em;
    background-color: #e12301;
    color: white;
    display: block;
    margin: auto;
    transition: all ease-in-out .4s;
}

#order-btn:hover {
    background-color: transparent;
    border: 2px solid white;
}


.about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 900px;
    margin-top: 80px;
    background-color: white;
}

#aboutus{
    position: static;
    display: block;
    margin: auto;margin-top: 70px;
    width: 80%;   
    text-align: center;
    z-index: 2;
}

#about-h{
    font-size: 45px;
}

#about-p{
    font-size: 25px;
}


#img-pizza{
    position: absolute;
    width: 400px;
    opacity: 0.7;
}

.img-carousel{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}

#carousel-1{
    width: 100%;
    height: 500px;
}