html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto !important;
    font-family: 'Crimson Text',serif;
    letter-spacing: 0.1em;
}

.body-overlay {
    display: none;
    position: absolute;
    background: rgba(17, 17, 17, 0.6);
    width: 100%;
    height: 3655px;
    z-index: 4;
}

#myVideo {
    position: fixed;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: aut0;
    max-width: 100%;
    opacity: 0.8;
    z-index: -999;
}

#menu-bar {
    position: absolute;
    font-size: 35px;
    z-index: 1;
}

#menu-hide {
    position: absolute;
    display: none;
    margin-left: 220px;
    font-size: 25px;
}

.nav-menu {
    display: none;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: white;
    z-index: 4;
}

#nav-menu-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}

#nav-menu-links li {
    margin: 70px;
    margin-top: 90px;
    font-size: 18px;
    color: black;
}

.nav-brand {
    position: absolute;
}

.brand-auto {
    margin-left: 700px;
}

.brand-left {
    margin-left: 130px;
}

.brand-menu {
    margin-left: 10px;
}

#navbar-D {
    width: 60px;
}

#navbar-R {
    position: absolute;
    width: 60px;
    margin-left: -30px;
}

.contact {
    position: absolute;
    right: 30px;
    margin-top: 5px;
    z-index: 3;
    display: flex;
    align-items: center;
}

#c-number {
    padding: 40px;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

i {
    margin: 30px;
}

#facebook {
    color: blue;
    cursor: pointer;
}

#instagram {
    color: #833AB4;
    cursor: pointer;
}

#whatsapp {
    color: green;
    cursor: pointer;
}

#navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    z-index: 3;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.6s;
}

.navbar-animate {
    animation: animate 1s;
}

@keyframes animate {
    from {
        height: 0px;
    }

    to {
        height: 80px;
    }
}

#nav-title {
    color: black;
    margin: auto;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    display: none;
}

.head {
    margin: auto;
    z-index: 3;
    text-align: center;
    padding: 50px;
    font-weight: 800;
}

#head-title {
    font-size: 60px;
    letter-spacing: 0.15em;
}

#head-t {
    margin-top: 50px;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}

#head-p {
    margin: auto;
    font-size: 20px;
    text-align: center;
    width: 500px;
}

#order-now {
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    width: 500px;
}

#order-link {
    text-decoration: none;
}

#order-btn {
    border: 1px solid transparent;
    border-radius: 0;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.18em;
    background-color: #e12301;
    color: white;
    display: block;
    margin: auto;
    transition: all ease-in-out .4s;
}

#order-btn:hover {
    background-color: transparent;
    border: 2px solid white;
}


.about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1000px;
    margin-top: 80px;
    background-color: white;
}

#aboutus {
    position: static;
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 80%;
    text-align: center;
    z-index: 2;
}

#about-h {
    font-size: 40px;
}

#about-p {
    font-size: 20px;
}


#img-pizza {
    position: absolute;
    width: 400px;
    opacity: 0.7;
}

.carousel {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-tag {
    width: 50%;
    position: absolute;
    font-size: 30px;
    letter-spacing: 0.06em;
    z-index: 1;
    color: white;
}

.carousel-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#carousel-1 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

#carousel-2 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

#carousel-3 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}


.carousel-overlay {
    position: absolute;
    display: block;
    margin: auto;
    width: 87.5%;
    height: 500px;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1;
}

.carousel-indicators li {
    margin: 20px;
    padding: 1px;
    width: 40px;
    z-index: 3;
    transition: all 0.6s ease;
}

.carousel-control-prev {
    background-color: #e12301;
    width: 30px;
    height: 35px;
    margin: auto;
    margin-left: 80px;
    transition: all ease-in-out.3s;
}

.carousel-control-prev-icon {
    width: 25px;
    height: 30px;
}

.carousel-control-next {
    background-color: #e12301;
    width: 30px;
    height: 35px;
    margin: auto;
    margin-right: 80px;
    transition: all ease-in-out.3s;
}

.carousel-control-next-icon {
    width: 25px;
    height: 30px;
}

#menu-bg {
    position: relative;
    width: 100%;
    height: 1570px;
    object-fit: cover;
    object-position: center;
}

.menu-cart-bg {
    position: relative;
    width: 100%;
    height: 2000px;
    object-fit: cover;
    object-position: center;
}

.menu-cart-overlay {
    position: absolute;
    width: 100%;
    height: 2000px;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1;
}

#menu-overlay {
    position: absolute;
    width: 100%;
    height: 1570px;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1;
}

#menu-title {
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 10px;
    margin-left: 610px;
    font-size: 23px;
}

.order-pizza {
    position: absolute;
    z-index: 1;
    margin-left: 80px;
}

.pizza-size {
    display: flex;
}

.small-pizza {
    position: relative;
    width: 300px;
    height: 210px;
    margin: 60px;
    padding-top: 11px;
    padding-left: 25px;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
}

#smallpizza {
    position: absolute;
    width: 250px;
    opacity: 0.9;
    transition: all ease-in-out .4s;
}

#smallpizza:hover {
    transform: scale(1.1);
}

.small-pizza input[type="radio"] {
    position: absolute;
    margin-top: 14px;
    margin-left: 4px;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
}

#small-p-tag {
    color: white;
    font-size: 28px;
    letter-spacing: 0.13em;
    margin-top: -45px;
    text-align: center;
    text-transform: capitalize;
}

#small-price {
    color: white;
    font-size: 18px;
    text-align: center;
}

.medium-pizza {
    position: absolute;
    margin-top: 60px;
    margin-left: 600px;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
}

#medium-pizza {
    position: absolute;
    width: 250px;
    height: 160px;
    margin-top: 15px;
    margin-left: 23px;
    opacity: 0.9;
    transition: all ease-in-out .4s;
}

#medium-pizza:hover {
    transform: scale(1.1);
}

.medium-pizza input[type="radio"] {
    position: absolute;
    margin-top: 25px;
    margin-left: 29px;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
}

.medium-p-t {
    position: absolute;
    margin-top: 280px;
    margin-left: 700px;
}

#medium-p-tag {
    position: absolute;
    margin-left: -18px;
    width: 300px;
    color: white;
    font-size: 28px;
    z-index: 1;
    text-transform: capitalize;
}

#medium-price {
    position: absolute;
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    margin: 20px;
    margin-top: 48px;
}

.large-pizza {
    position: absolute;
    margin-top: 60px;
    margin-left: 1040px;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
}

#large-pizza {
    position: absolute;
    width: 250px;
    height: 160px;
    margin-top: 15px;
    margin-left: 23px;
    opacity: 0.9;
    transition: all ease-in-out .4s;
}

#large-pizza:hover {
    transform: scale(1.1);
}

.large-pizza input[type="radio"] {
    position: absolute;
    margin-top: 25px;
    margin-left: 29px;
    transform: scale(1.8);
    z-index: 3;
    cursor: pointer;
}

.large-p-t {
    position: absolute;
    margin-top: 280px;
    margin-right: 360px;
    right: 0;
}

#large-p-tag {
    position: absolute;
    width: 300px;
    margin-left: -18px;
    color: white;
    font-size: 28px;
    z-index: 1;
    text-transform: capitalize;
}


#large-price {
    position: absolute;
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    margin: 20px;
    margin-top: 48px;
}

#menu-line1 {
    position: absolute;
    width: 97%;
    height: 1px;
    background-color: white;
    z-index: 1;
    margin-top: 382px;
    margin-left: 23px;
}

.crusts {
    position: absolute;
    display: flex;
    z-index: 1;
    margin-top: 450px;
}

#crusts-head {
    position: absolute;
    width: 400px;
    color: white;
    font-size: 22px;
    z-index: 1;
    margin-top: -50px;
    margin-left: 565px;
    text-transform: capitalize;
}

.stuffed-crust {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 140px;
}

#stuffed-crust {
    position: absolute;
}

#stuffed-input {
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 7px;
}

#stuffed-img {
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#stuffed-img:hover {
    transform: scale(1.1);
}

#stuffed-t-price {
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;

}

#stuffed-tag {
    width: 300px;
    color: white;
    font-size: 28px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#stuffed-price {
    color: white;
    font-size: 18px;
    z-index: 1;
}

.glutten-crust {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#glutten-crust {
    position: absolute;
}

#glutten-input {
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#glutten-img {
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#glutten-img:hover {
    transform: scale(1.1);
}

#glutten-t-price {
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;

}

#glutten-tag {
    width: 300px;
    color: white;
    font-size: 28px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#glutten-price {
    color: white;
    font-size: 18px;
    z-index: 1;
}

.crispy-crust {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#crispy-crust {
    position: absolute;
}

#crispy-input {
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#crispy-img {
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#crispy-img:hover {
    transform: scale(1.1);
}

#crispy-t-price {
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;

}

#crispy-tag {
    width: 300px;
    color: white;
    font-size: 28px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#crispy-price {
    color: white;
    font-size: 18px;
    z-index: 1;
}

#menu-line2 {
    position: absolute;
    width: 97%;
    height: 1px;
    background-color: white;
    z-index: 1;
    margin-top: 790px;
    margin-left: 23px;
}

.toppings {
    position: absolute;
    display: flex;
    z-index: 1;
    margin-top: 870px;
}

#toppings-head {
    position: absolute;
    width: 400px;
    color: white;
    font-size: 22px;
    z-index: 1;
    margin-top: -55px;
    margin-left: 600px;
    text-transform: capitalize;
}

.pepperoni {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 140px;
}

#pepperoni {
    position: absolute;
}

#pepperoni-input {
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#pepperoni-img {
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#pepperoni-img:hover {
    transform: scale(1.1);
}

#pepperoni-t-price {
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;

}

#pepperoni-tag {
    width: 300px;
    color: white;
    font-size: 28px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#pepperoni-price {
    color: white;
    font-size: 18px;
    z-index: 1;
}

.mushroom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#mushroom {
    position: absolute;
}

#mushroom-input {
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#mushroom-img {
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#mushroom-img:hover {
    transform: scale(1.1);
}

#mushroom-t-price {
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;

}

#mushroom-tag {
    width: 300px;
    color: white;
    font-size: 28px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#mushroom-price {
    color: white;
    font-size: 18px;
    z-index: 1;
}

.bacon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#bacon {
    position: absolute;
}

#bacon-input {
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#bacon-img {
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#bacon-img:hover {
    transform: scale(1.1);
}

#bacon-t-price {
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;

}

#bacon-tag {
    width: 300px;
    color: white;
    font-size:28px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#bacon-price {
    color: white;
    font-size: 18px;
    z-index: 1;
}

#select-error {
    display: none;
    position: absolute;
    width: 340px;
    color: #e12301;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 400px;
}

#menu-line3 {
    position: absolute;
    width: 97%;
    height: 1px;
    background-color: white;
    z-index: 1;
    margin-top: 1210px;
    margin-left: 23px;
}

.checkout {
    position: absolute;
    display: flex;
    margin-top: 1250px;
    margin-left: 200px;
    z-index: 1;
}

#checkout-btn {
    position: absolute;
    width: 180px;
    height: 60px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    font-size: 17px;
    transition: all ease-in-out .4s;
    outline: none
}

#checkout-btn:hover {
    background-color: #e12301;
    border: 1px solid transparent
}

.cart {
    display: none;
    position: absolute;
    margin-left: 350px;
    width: 450px;
    height: 800px;
    border: 1px solid white;
    background: white;
}

#cart-head {
    font-size: 25px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

#your-order {
    color: black;
    margin: 20px;
}

#order-size {
    font-size: 20px;
    padding: 20px;
}

#order-crust {
    font-size: 20px;
    padding: 20px;
}

#order-toppings {
    font-size: 20px;
    padding: 20px;
}

.cart-btns {
    margin-left: 20px;
}

#confirm-order {
    width: 110px;
    height: 40px;
    font-size: 14px;
    margin: 20px;
    background: white;
    border: 1px solid black;
    color: black;
    transition: all ease-in-out .4s;
}

#confirm-order:hover {
    background: black;
    color: white;
    border: 1px solid transparent;
}

#cancel-order {
    width: 110px;
    height: 40px;
    font-size: 14px;
    background: #e12301;
    color: white;
    border: 1px solid transparent;
    transition: all ease-in-out .4s;
}

#cancel-order:hover {
    background: transparent;
    border: 1px solid black;
    color: black;
}

.delivery {
    margin: 20px 0px 0px 40px;
    font-size: 16px;
}

.deliver-inputs {
    margin-left: 40px;
}

.deliver-inputs input[type="radio"] {
    cursor: pointer;
}

.deliver-inputs label {
    font-size: 11px;
}

.total-cost {
    margin: 5px 0px 0px 40px;
    font-size: 16px;
}

#submit-order {
    width: 110px;
    height: 40px;
    font-size: 14px;
    background: black;
    display: block;
    margin: auto;
    margin-top: 5px;
    color: white;
    border: 1px solid transparent;
    transition: all ease-in-out .4s;
}

#submit-order:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 270px;
    background: white;
    color: black;
    z-index: 3;
}

.footer-info {
    position: absolute;
    display: flex;
    margin: 40px;
    border-bottom: 1px solid black;
}

#business-hrs {
    font-size: 23px;
}

.footer-hrs {
    display: flex;
    border-right: 1px solid black;
    padding-right: 20px;
}

.footer-list {
    list-style: none;
    margin-left: 30px;
}

.footer-list li {
    font-size: 15px;
}

#footer-call {
    margin-left: 80px;
    padding-right: 80px;
    border-right: 1px solid black;
}

#footer-call h4 {
    font-size: 23px;
    text-align: center;
}

#footer-call a {
    font-size: 15px;
    color: black;
}

#footer-contact {
    margin-left: 80px;
    padding-right: 80px;
    border-right: 1px solid black;
}

#footer-contact h4 {
    font-size: 23px;
    text-align: center;
}

#footer-contact a {
    font-size: 15px;
    color: black;
}

i {
    cursor: pointer;
}

#footer-follow {
    margin-left: 50px;
    padding-right: 30px;
    text-align: center;
}

.footer-icons {
    margin-left: -30px;
}

#footer-follow h4 {
    font-size: 23px;
}

#footer-follow a {
    font-size: 1px;
    color: black;
}

#footer-copy {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 280px;
    font-size: 13px;
    top: 100px;
}

.map iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 29.5%;
    height: 260px;
}