html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    height: auto !important;
    font-family: 'DecoTech', sans-serif;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
}

#myVideo {
    position: fixed;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    opacity: 0.8;
    z-index: -999;
}

#menu-bar {
    position: absolute;
    font-size: 40px;
    z-index: 3;
}

.nav-brand {
    position: absolute;
}

.brand-auto {
    margin-left: 700px;
}

.brand-left {
    margin-left: 130px;
}

#navbar-D {
    width: 60px;
}

#navbar-R {
    position: absolute;
    width: 60px;
    margin-left: -30px;
}

.contact {
    position: absolute;
    right: 30px;
    margin-top: 5px;
    z-index: 3;
    display: flex;
    align-items: center;
}

#c-number {
    padding: 40px;
    font-size: 21px;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

i {
    padding: 30px;
}

#facebook {
    color: blue;
}

#instagram {
    color: #833AB4;
}

#whatsapp {
    color: green;
}

#navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    z-index: 3;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.6s;
}

.navbar-animate {
    animation: animate 1s;
}

@keyframes animate {
    from {
        height: 0px;
    }

    to {
        height: 80px;
    }
}

#nav-title {
    color: black;
    margin: auto;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
    display: none;
}

.head {
    margin: auto;
    z-index: 3;
    text-align: center;
    padding: 50px;
    font-weight: 800;
}

#head-title {
    font-size: 90px;
    letter-spacing: 0.15em;
}

#head-t {
    margin-top: 50px;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}

#head-p {
    margin: auto;
    font-size: 25px;
    text-align: center;
    width: 500px;
}

#order-now {
    margin: auto;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    width: 500px;
}

#order-link {
    text-decoration: none;
}

#order-btn {
    border: 1px solid transparent;
    border-radius: 0;
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.18em;
    background-color: #e12301;
    color: white;
    display: block;
    margin: auto;
    transition: all ease-in-out .4s;
}

#order-btn:hover {
    background-color: transparent;
    border: 2px solid white;
}


.about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 900px;
    margin-top: 80px;
    background-color: white;
}

#aboutus {
    position: static;
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 80%;
    text-align: center;
    z-index: 2;
}

#about-h {
    font-size: 45px;
}

#about-p {
    font-size: 25px;
}


#img-pizza {
    position: absolute;
    width: 400px;
    opacity: 0.7;
}

.carousel {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-tag {
    width: 50%;
    position: absolute;
    font-size: 45px;
    letter-spacing: 0.06em;
    z-index: 1;
    color: white;
}

.carousel-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#carousel-1 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

#carousel-2 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

#carousel-3 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}


.carousel-overlay {
    position: absolute;
    display: block;
    margin: auto;
    width: 87.5%;
    height: 500px;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1;
}

.carousel-indicators li {
    margin: 20px;
    padding: 1px;
    width: 40px;
    z-index: 3;
    transition: all 0.6s ease;
}

.carousel-control-prev {
    background-color: red;
    width: 30px;
    height: 35px;
    margin: auto;
    margin-left: 80px;
    transition: all ease-in-out.3s;
}

.carousel-control-prev-icon {
    width: 25px;
    height: 30px;
}

.carousel-control-next {
    background-color: red;
    width: 30px;
    height: 35px;
    margin: auto;
    margin-right: 80px;
    transition: all ease-in-out.3s;
}

.carousel-control-next-icon {
    width: 25px;
    height: 30px;
}

#menu-bg {
    position: relative;
    width: 100%;
    height: 1300px;
    object-fit: cover;
    object-position: center;
}

#menu-overlay {
    position: absolute;
    width: 100%;
    height: 1300px;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1;
}

#menu-title {
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 10px;
    margin-left: 610px;
    font-size: 32px;
}

.order-pizza {
    position: absolute;
    z-index: 1;
    margin-left: 80px;
}

.pizza-size {
    display: flex;
}

.small-pizza {
    position: relative;
    width: 300px;
    height: 210px;
    margin: 60px;
    padding-top: 11px;
    padding-left: 25px;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
}

#smallpizza {
    position: absolute;
    width: 250px;
    opacity: 0.9;
    transition: all ease-in-out .4s;
}

#smallpizza:hover {
    transform: scale(1.1);
}

.small-pizza input[type="checkbox"] {
    position: absolute;
    margin-top: 14px;
    margin-left: 4px;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
}

#small-p-tag {
    color: white;
    font-size: 35px;
    letter-spacing: 0.13em;
    margin-top: -45px;
    text-align: center;
    text-transform: capitalize;
}

#small-price {
    color: white;
    font-size: 25px;
    text-align: center;
}

.medium-pizza {
    position: absolute;
    margin-top: 60px;
    margin-left: 600px;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
}

#medium-pizza {
    position: absolute;
    width: 250px;
    height: 160px;
    margin-top: 15px;
    margin-left: 23px;
    opacity: 0.9;
    transition: all ease-in-out .4s;
}

#medium-pizza:hover {
    transform: scale(1.1);
}

.medium-pizza input[type="checkbox"] {
    position: absolute;
    margin-top: 25px;
    margin-left: 29px;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
}

.medium-p-t {
    position: absolute;
    margin-top: 280px;
    margin-left: 700px;
}

#medium-p-tag {
    position: absolute;
    margin-left: -18px;
    width: 300px;
    color: white;
    font-size: 35px;
    z-index: 1;
    text-transform: capitalize;
}

#medium-price {
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    margin: 20px;
    margin-top: 48px;
}

.large-pizza {
    position: absolute;
    margin-top: 60px;
    margin-left: 1040px;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
}

#large-pizza {
    position: absolute;
    width: 250px;
    height: 160px;
    margin-top: 15px;
    margin-left: 23px;
    opacity: 0.9;
    transition: all ease-in-out .4s;
}

#large-pizza:hover {
    transform: scale(1.1);
}

.large-pizza input[type="checkbox"] {
    position: absolute;
    margin-top: 25px;
    margin-left: 29px;
    transform: scale(1.8);
    z-index: 3;
    cursor: pointer;
}

.large-p-t {
    position: absolute;
    margin-top: 280px;
    margin-right: 360px;
    right: 0;
}

#large-p-tag {
    position: absolute;
    width: 300px;
    margin-left: -18px;
    color: white;
    font-size: 35px;
    z-index: 1;
    text-transform: capitalize;
}


#large-price {
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    margin: 20px;
    margin-top: 48px;
}

#menu-line1{
    position: absolute;
    width: 97%;
    height: 1px;
    background-color: white;
    z-index: 1;
    margin-top: 382px;
    margin-left: 23px;
}

.crusts{
    position: absolute;
    display: flex;
    z-index: 1;
    margin-top: 450px;
}

#crusts-head{
    position: absolute;
    width: 400px;
    color: white;
    font-size: 32px;
    z-index: 1;
    margin-top: -50px;
    margin-left: 565px;
    text-transform: capitalize;
}

.stuffed-crust{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 140px;
}

#stuffed-crust{
    position: absolute;
}

#stuffed-input{
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 7px;
}

#stuffed-img{
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#stuffed-img:hover{
    transform: scale(1.1);
}

#stuffed-t-price{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;
    
}

#stuffed-tag{
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#stuffed-price{
    color: white;
    font-size: 25px;
    z-index: 1;
}

.glutten-crust{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#glutten-crust{
    position: absolute;
}

#glutten-input{
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#glutten-img{
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#glutten-img:hover{
    transform: scale(1.1);
}

#glutten-t-price{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;
    
}

#glutten-tag{
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#glutten-price{
    color: white;
    font-size: 25px;
    z-index: 1;
}

.crispy-crust{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#crispy-crust{
    position: absolute;
}

#crispy-input{
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#crispy-img{
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#crispy-img:hover{
    transform: scale(1.1);
}

#crispy-t-price{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;
    
}

#crispy-tag{
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#crispy-price{
    color: white;
    font-size: 25px;
    z-index: 1;
}

.toppings{
    position: absolute;
    display: flex;
    z-index: 1;
    margin-top: 890px;
}

#toppings-head{
    position: absolute;
    width: 400px;
    color: white;
    font-size: 32px;
    z-index: 1;
    margin-top: -55px;
    margin-left: 600px;
    text-transform: capitalize;
}

.pepperoni{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 140px;
}

#pepperoni{
    position: absolute;
}

#pepperoni-input{
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#pepperoni-img{
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#pepperoni-img:hover{
    transform: scale(1.1);
}

#pepperoni-t-price{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;
    
}

#pepperoni-tag{
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#pepperoni-price{
    color: white;
    font-size: 25px;
    z-index: 1;
}

.mushroom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#mushroom{
    position: absolute;
}

#mushroom-input{
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#mushroom-img{
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#mushroom-img:hover{
    transform: scale(1.1);
}

#mushroom-t-price{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;
    
}

#mushroom-tag{
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#mushroom-price{
    color: white;
    font-size: 25px;
    z-index: 1;
}

.bacon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    padding: auto;
    background: transparent;
    border: 2px solid white;
    box-shadow: 2px 2px 7px;
    z-index: 1;
    margin-left: 165px;
}

#bacon{
    position: absolute;
}

#bacon-input{
    position: absolute;
    transform: scale(1.8);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

#bacon-img{
    width: 235px;
    height: 170px;
    transition: all ease-in-out .4s;
}

#bacon-img:hover{
    transform: scale(1.1);
}

#bacon-t-price{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -30px;
    z-index: 1;
    
}

#bacon-tag{
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    z-index: 1;
    text-transform: capitalize;
}

#bacon-price{
    color: white;
    font-size: 25px;
    z-index: 1;
}